.advantages {
  background-color: #fff;
  @media(max-width: 991px){
    padding-bottom: 50px;
  }

  &__title {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    font-size: 76px;
    line-height: 76px;
    margin-bottom: 64px;

    @media(max-width: 1500px) {
      font-size: 56px;
      line-height: 60px;
      margin-bottom: 30px;
    }

    @media(max-width: 991px) {
      font-size: 38px;
      line-height: 38px;
      max-width: 350px;
      text-align: end;
      margin-bottom: 24px;
    }

    &--full {
      max-width: 100%;
      margin-top: 100px;
      @media(max-width: 991px){
        margin-top: 60px;
      }
    }

    &-quote {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -50px;
        width: 60px;
        height: 40px;
        background: url('@img/icons/quote.svg') no-repeat center center / contain;

        @media(max-width: 991px) {
          width: 40px;
          height: 40px;
          top: -35px;
        }
      }

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -30px;
        width: 60px;
        height: 40px;
        background: url('@img/icons/quote.svg') no-repeat center center / contain;

        @media(max-width: 991px) {
          width: 40px;
          height: 40px;
          bottom: -40px;
        }
      }
    }

    &-img {
      position: absolute;
      left: 139px;
      width: 126px;
      bottom: -29px;

      @media(max-width: 1199px) {
        left: 0;
        bottom: -60px;
      }

      @media(max-width: 991px) {
        left: 172px;
        bottom: -14px;
        width: 50px;
      }
      @media(max-width: 767px){
        left: 88px;
      }
      @media(max-width: 575px){
        left: 0;
      }
      @media(max-width: 350px){
        display: none;
      }
    }

    &-arrow {
      position: absolute;
      right: 270px;
      bottom: -50px;

      @media(max-width: 1199px) {
        display: none;
      }
    }

    &-wrapper {
      position: relative;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 15px;
  }

  &__left {
    grid-column: 6 span;

    .advantages__item {
      background: #F7F8F9;
      column-gap: 28px;
      @media(max-width: 767px){
        column-gap: 11px;
      }
    }

    .advantages__item-text {
      color: #697682;
    }

    .advantages__item-left {
      img {
        min-width: 74px;
        @media(max-width: 767px){
          width: 44px; 
          min-width: 44px;
         }
      }
    }
  }

  &__right {
    grid-column: 6 span;

    .advantages__item {
      column-gap: 32px;
      position: relative;
      @media(max-width: 767px){
        column-gap: 11px;
      }

      &:first-child {
        transform: rotate(-3deg);
        box-shadow: 0px 12px 14px 0px rgba(0, 0, 0, 0.25);
        z-index: 2;
        background: #1E1E1E;
        @media(max-width: 991px){
          transform: none;
        }
      }

      &:nth-child(2) {
        transform: rotate(1deg);
        z-index: 1;
        background: #252525;
        @media(max-width: 991px){
          transform: none;
        }
      }

      &:nth-child(3) {
        box-shadow: 0px 12px 14px 0px rgba(0, 0, 0, 0.25);
        transform: rotate(-2deg);
        margin-top: -10px;
        z-index: 0;
        background: #1E1E1E;
        @media(max-width: 991px){
          transform: none;
          margin-top: 0;
        }
      }
    }

    .advantages__item-text {
      color: #92A0AD;
    }

    .advantages__item-title {
      background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, rgba(255, 255, 255, 0.80) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .advantages__item-left {
      img {
        min-width: 62px;
        @media(max-width: 767px){
          width: 44px;
          min-width: 44px;
        }
      }
    }
  }

  &__item {
    padding-top: 45px;
    padding-right: 30px;
    padding-bottom: 45px;
    padding-left: 40px;
    border-radius: 24px;
    display: flex;
    margin-bottom: 6px;

    @media(max-width: 1400px) {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
    }
    @media(max-width: 991px){
      padding: 16px 16px 25px 16px;
      margin-bottom: 15px;
    }
   

    &-title {
      font-size: 32px;
      line-height: 32px;
      font-family: $font-family-700;

      @media(max-width: 1400px) {
        font-size: 28px;
        line-height: 28px;
      }
      @media(max-width: 991px){
        font-size: 24px;
        line-height: 24px;
      }
    }

    &-text {
      font-size: 20px;
      margin-top: 20px;

      @media(max-width: 1400px) {
        font-size: 18px;
      }
      @media(max-width: 991px){
        font-size: 16px;
        line-height: 20px;
      }
    }
    &-right {
      @media(max-width: 991px){
        padding-top: 8px;
      }
    }
    &-left {
      padding-top: 25px;
      @media(max-width: 767px){
        padding-top: 0;
      }
      img {
        @media(max-width: 767px){
         width: 44px; 
         min-width: 44px;
        }
      }
    }
  }
}