.calc {
  background-color: #fff;

  .container {
    @media(max-width: 575px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__title {
    font-size: 76px;
    line-height: 76px;
    max-width: 1200px;

    @media(max-width: 1400px) {
      font-size: 56px;
      line-height: 60px;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }

    @media(max-width: 991px) {
      font-size: 38px;
      line-height: 42px;
      max-width: 600px;
    }



    &-wrapper {
      position: relative;

      @media(max-width: 575px) {
        padding-left: 16px;
        padding-right: 16px;
      }

      img {
        position: absolute;
        left: -70px;
        top: 0;

        @media(max-width: 1400px) {
          left: unset;
          right: 0;
          top: 35px;
        }

        @media(max-width: 1199px) {
          width: 120px;
        }

        @media(max-width: 767px) {
          width: 80px;
          top: 70px;
        }
        @media(max-width: 370px){
          top: 110px;
        }
      }
    }
  }

  &__form {
    background: #FFF;
    box-shadow: 0px 25px 30px 0px rgba(145, 157, 161, 0.15);
    border-radius: 24px;
    padding: 90px;

    @media(max-width: 1199px) {
      padding: 60px;
    }

    @media(max-width: 991px) {
      padding: 40px;
    }

    @media(max-width: 575px) {
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 20px;
    }

    &-name {
      margin-bottom: 16px;
      color: #92A0AD;
      font-size: 20px;
      font-weight: 500;

      @media(max-width: 1199px) {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 8px;
      }
    }

    &-quantity {
      font-size: 48px;
      color: #92A0AD;
      position: absolute;
      bottom: 35px;

      @media(max-width: 1199px) {
        bottom: 21px;
      }
    }

    &-minus {
      left: 30px;
      @media(max-width: 575px){
        bottom: 23px;
      }
    }

    &-plus {
      right: 30px;

    }

    &-grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 24px;
      row-gap: 30px;
      align-items: flex-end;

      @media(max-width: 1199px) {
        row-gap: 20px;
        column-gap: 20px;
      }

      .calc__form-col--50 {
        @media(max-width: 991px) {
          grid-column: 6 span;
        }
      }
    }

    &-col {
      grid-column: 6 span;
      position: relative;

      @media(max-width: 991px) {
        grid-column: 12 span;
      }
    }

    &-top {
      padding-bottom: 60px;
      @media(max-width: 767px){
        padding-bottom: 25px;
      }
    }

    &-bottom {
      border-top: 1px solid rgba(146, 160, 173, 0.19);
      padding-top: 32px;
      @media(max-width: 767px){
        padding-top: 25px;
      }

      p {
        color: #92A0AD;
        font-size: 20px;
        font-weight: 500;
        @media(max-width: 575px){
          font-size: 14px;
          line-height: 17px;
        }
      }
    }

    .input-wrapper {
      &--lg {
        input {
          font-size: 42px;
          line-height: 42px;
          text-align: center;
          padding-top: 0;
          padding-bottom: 0;
          height: 90px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-bottom: 5px;
          font-weight: 400;

          @media(max-width: 1199px) {
            font-size: 32px;
            line-height: 32px;
            height: 66px;
            padding-bottom: 0;
            padding-left: 40px;
          }

          &::placeholder {
            font-size: 42px;
            line-height: 42px;

            @media(max-width: 1199px) {
              font-size: 32px;
              line-height: 32px;
            }
          }
        }
      }
    }
  }
}


.calc__form-three {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border-radius: 24px;
  border: 1px solid #92A0AD;
  background: #FFF;

  .input-wrapper {
    grid-column: 4 span;

    &:not(:last-child) {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #92A0AD;
        width: 1px;
        height: 42px;
      }
    }



    input {
      border: none;
      padding-left: 22px;
      padding-right: 22px;
      text-align: center;
    }
  }
}