.marketplace {
  background-color: #fff;

  &__blocks {
    padding-right: 40px;
    @media(max-width: 767px){
      padding-right: 0;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    @media(max-width: 767px){
      gap: 16px;
    }
  }

  &__item {
    grid-column: 6 span;
    border-radius: 12px;
    background: #F5F6FA;
    &:nth-child(1){
      @media(max-width: 767px){
        .marketplace__item-img {
          width: 77px;
        }
      }
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 220px;
      @media(max-width: 1400px){
        padding-left: 20px;
        padding-right: 20px;
      }
      @media(max-width: 767px){
        height: 104px;
      }
    }
    &-img {
      @media(max-width: 767px){
        max-height: 52px;
        max-width: 130px;
      }
    }
  }

  &__title {
    text-align: center;
    font-size: 86px;
    line-height: 86px;
    background: radial-gradient(50% 50% at 50% 50%, #1E1E1E 0%, rgba(30, 30, 30, 0.80) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media(max-width: 1400px) {
      font-size: 56px;
      line-height: 60px;
      max-width: 990px;
    }

    @media(max-width: 991px) {
      font-size: 38px;
      line-height: 42px;
      max-width: 460px;
    }


    span {
      -webkit-text-fill-color: #35BAEC;
    }
  }

  &__block {
    margin-bottom: 35px;
    &.active {  
      .marketplace__block-text {
        display: block;
      }
    }

    &-title {
      color: #AE38FB;
      font-family: $font-family-700;
      font-size: 40px;
      line-height: 40px;
      width: fit-content;    
      @media(max-width: 991px){
        font-size: 26px;
        line-height: 26px;
      }     
      &-wrapper {
        position: relative;
        @media(max-width: 767px){
          padding-right: 15px;
        }
        &.active {
          &::after {
            transform: none;
          }
        }
        &::after {
          @media(max-width: 767px){
            content: '';
            width: 10px;
            height: 6px;
            background: url('@img/icons/accord-arrow.svg') no-repeat center center / 10px;
            transition: transform .2s linear;
            transform: rotate(180deg);
            position: absolute;
            right: 0;
            top: 10px;
          }        
        }
      }
    }

    &-text {
      color: #92A0AD;
      @media(max-width: 767px){
        display: none;
      }
      &.active {
        display: block;
      }
    }
  }
}
.marketplaceLine{
  height: 1px;
  width: 100%;
  background-color: #AE38FB;
  position: relative;
  bottom: 5px;
}
.marketplace__block-title-wrapper{
  margin-bottom: 11px;
  display: grid;
  align-items: flex-end;
  grid-template-columns: max-content auto;
  column-gap: 7px;
}