.order {
  background-color: #000;
  padding-top: 100px;
  padding-bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;


  @media(max-width: 1199px) {
    background-position: right top;
    padding-bottom: 45px;
    padding-top: 70px;
  }

  @media(max-width: 991px) {
    padding-top: 60px;
  }

  .container {
    display: grid;
    grid-template-columns: auto auto;

    @media(max-width: 1199px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__left {
    max-width: 600px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    img {
      max-height: 633px;
      object-fit: contain;
      object-position: left;

      @media(max-width: 991px) {
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }


  &__title {
    font-size: 64px;
    line-height: 64px;
    max-width: 715px;

    @media(max-width: 991px) {
      font-size: 38px;
      line-height: 42px;
      max-width: 460px;
    }

    @media(max-width: 767px) {
      font-size: 36px;
      line-height: 36px;
    }
  }

  &__form {
    .btn--blue {
      font-size: 22px;
    }

    &-top {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        inset: calc(0px - 1px);
        border-radius: 24px;
        padding: 1px;
        background: linear-gradient(335deg, rgb(255, 255, 255), rgba(23, 30, 36, 0));
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: 1;

        @media(max-width: 1199px) {
          display: none;
        }
      }
    }

    &-bottom {
      border-bottom: 1px solid rgba(255, 255, 255, 0.30);
      padding-bottom: 38px;

      @media(max-width: 1199px) {
        padding-bottom: 25px;
      }
    }

    .btn {
      z-index: 1;
    }

    .form-input {
      border: none;
      width: 100%;
      border-radius: 24px;
      // border: 1px solid #FFF;
      background: rgba(255, 255, 255, 0.06);
      height: 90px;
      color: #fff;
      font-size: 22px;
      line-height: normal;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 48px;
      padding-right: 300px;
      position: relative;
      z-index: 1;



      @media(max-width: 1199px) {
        padding-right: 30px;
        backdrop-filter: blur(9px);
        height: 66px;
      }

      @media(max-width: 767px) {
        font-size: 20px;
        padding-left: 22px;
      }

      &::placeholder {
        font-size: 22px;
        line-height: normal;

        @media(max-width: 767px) {
          font-size: 20px;
        }
      }
    }


  }

  &__contacts {
    margin-top: 40px;
    align-items: center;

    @media(max-width: 1199px) {
      margin-top: 24px;
      column-gap: 20px;
      align-items: center;
    }

    @media(max-width: 400px) {
      column-gap: 15px;
    }

    @media(max-width: 385px) {
      flex-direction: column;
      row-gap: 10px;
    }

    &-center {
      background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, rgba(255, 255, 255, 0.67) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-left: 26px;
      margin-right: 26px;
    }

    &-link {
      border-radius: 24px;
      background: rgba(255, 255, 255, 0.06);
      height: 80px;
      width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 18px;
      position: relative;
      transition: background .2s linear, box-shadow .2s linear;

      &:hover {
        box-shadow: rgba(53, 186, 236, 0.25) 0px 32px 29px -16px;
        background: #35BAEC;
        svg {
          fill: #fff;       
        }
        span {
          color: #fff;
          -webkit-text-fill-color: #fff;
        }
      }
      &:focus {
        box-shadow: none;
      }

      &::before {
        content: '';
        position: absolute;
        inset: calc(0px - 1px);
        border-radius: 24px;
        padding: 1px;
        background: linear-gradient(335deg, rgb(255, 255, 255), rgba(23, 30, 36, 0));
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: 1;
      }

      @media(max-width: 767px) {
        width: 180px;
        column-gap: 10px;
        height: 62px;
      }

      &>span {
        background: radial-gradient(50% 50% at 50% 50%, #92A0AD 0%, rgba(255, 255, 255, 0.67) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 20px;
        transition: color .2s linear, -webkit-text-fill-color .2s linear;

        @media(max-width: 767px) {
          max-width: 100px;
          font-size: 16px;
          line-height: 18px;
        }
      }

      svg {
        width: 32px;
        height: 32px;
        fill: #92A0AD;
        transition: fill .2s linear;
      }
    }

    &-phone {
      background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, rgba(255, 255, 255, 0.67) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 40px;
      line-height: 40px;
      font-family: $font-family-400;

      @media(max-width: 767px) {
        font-size: 30px;
        line-height: 40px;
      }
    }

    &-time {
      background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, rgba(255, 255, 255, 0.67) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      padding-left: 15px;

      @media(max-width: 767px) {
        font-size: 14px;
        padding-left: 0;
      }
    }
  }
}

.order-cols-2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 40px;

  @media(max-width: 1199px) {
    column-gap: 0;
  }


  .order__left {
    grid-column: 6 span;
    max-width: 100%;

    @media(max-width: 1300px) {
      grid-column: 7 span;
    }
  }

  .order__right {
    grid-column: 6 span;

    @media(max-width: 1300px) {
      grid-column: 5 span;
    }
  }
}

.order2 {
  position: relative;
  background: url('@img/price/price-bg.png') no-repeat center center / cover;

  @media(max-width: 1199px) {
    padding-bottom: 90px;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: url('@img/price/round-left.png') no-repeat center center / cover;
    width: 441px;
    height: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background: url('@img/price/round-right.png') no-repeat center center / cover;
    width: 630px;
    height: 809px;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .order__arrow {
    position: absolute;
    top: -48px;
    left: 66px;

    @media(max-width: 1300px) {
      max-width: 300px;
    }

    @media(max-width: 1199px) {
      top: 200px;
    }

    @media(max-width: 991px) {
      top: 43px;
      max-width: 500px;
    }

    @media(max-width: 767px) {
      max-width: 300px;
      top: 90px;
    }

    @media(max-width: 575px) {
      max-width: 50vw;
      top: unset;
      bottom: 50vw;
    }
  }

  .order__left {
    @media(max-width: 1199px) {
      grid-column: 12 span;
      order: 2;
    }
  }

  .order__right {
    position: relative;

    @media(max-width: 1199px) {
      grid-column: 12 span;
      order: 1;
      margin-bottom: 40px;
    }
  }

  .section-title {
    background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, rgba(255, 255, 255, 0.42) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    span {
      -webkit-text-fill-color: #35BAEC;
      font-family: $font-family-100;
    }
  }
}

.percent {
  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    align-items: flex-end;

    @media(max-width: 1400px) {
      column-gap: 12px;
    }

    @media(max-width: 1199px) {
      column-gap: 20px;
    }
  }

  &__item {
    grid-column: 4 span;

    height: fit-content;

    &-img {
      border-radius: 40.317px;
      background: #6A1D98;

      padding: 14px;

      @media(max-width: 767px) {
        padding: 8px;
      }

      img {
        width: 100%;

        @media(max-width: 767px) {
          border-radius: 6vw;
        }
      }
    }

    &-title {
      background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, rgba(255, 255, 255, 0.42) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
      text-align: center;
    }

    &:nth-child(1) {
      max-width: 184px;
      margin-left: auto;

      @media(max-width: 1199px) {
        max-width: 100%;
      }

      .percent__item-title {
        font-size: 64px;
        line-height: 64px;

        @media(max-width: 767px) {
          font-size: 31px;
          line-height: 31px;
        }
      }

      img {
        height: 218px;
        width: 100%;

        @media(max-width: 767px) {
          height: 29vw;
        }
      }
    }

    &:nth-child(2) {
      max-width: 194px;
      margin-left: auto;
      margin-right: auto;

      @media(max-width: 1199px) {
        max-width: 100%;
      }

      .percent__item-title {
        font-size: 82px;
        line-height: 82px;

        @media(max-width: 767px) {
          font-size: 38px;
          line-height: 38px;
        }
      }

      img {
        height: 285px;

        @media(max-width: 767px) {
          height: 39vw;
        }
      }
    }

    &:nth-child(3) {
      .percent__item-title {
        font-size: 127px;
        line-height: 127px;

        @media(max-width: 767px) {
          font-size: 58px;
          line-height: 58px;
        }
      }

      img {
        height: 330px;

        @media(max-width: 767px) {
          height: 50vw;
        }
      }
    }

    img {
      border-radius: 26.878px;
      object-fit: cover;
      height: 100%;

      @media(max-width: 767px) {
        border-radius: 30px
      }
    }
  }
}

.order__form-input-wrapper {
  @media(max-width: 1199px) {
    position: relative;
  }



  &::before {
    @media(max-width: 1199px) {
      content: '';
      position: absolute;
      inset: calc(0px - 1px);
      border-radius: 24px;
      padding: 1px;
      background: linear-gradient(335deg, rgb(255, 255, 255), rgba(23, 30, 36, 0));
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      z-index: 1;
    }
  }


}