.price {
  position: relative;
  background: url('@img/price/price-bg.png') no-repeat center center / cover;
  &__header {
    margin-bottom: 32px;
  }

  .container {
    position: relative;
    z-index: 1;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  &__block {
    grid-column: 6 span;
    display: flex;
    column-gap: 30px;
    &:nth-child(1){
      padding-right: 50px;
    }
    &:nth-child(2){
      padding-left: 50px;
    }
    &-title {
      writing-mode: vertical-rl;      
      text-transform: uppercase;
      color: rgba(146, 160, 173, 0.24);
      font-size: 40px;
      opacity: .9;
      font-family: $font-family-700;
      letter-spacing: 5.2px;      
      transform: rotate(180deg);
      text-align: end;
    }
  }
  &__list {
    width: 100%;
  }
  &__item {
    &:not(:last-child){
      margin-bottom: 49px;
    }
    &-top {
      display: flex;
      justify-content: space-between;
      padding-bottom: 13px;
    }
    &-bottom {
      font-size: 20px;
      color: #92A0AD;
      padding-top: 11px;
      border-top: 1px solid #35BAEC;
    }
    &-name {
      color: #35BAEC;
      text-transform: uppercase;
      font-size: 32px;
      line-height: 32px;
      font-family: $font-family-700;
      &--sm {
        font-family: $font-family-400;
        font-size: 24px;
        line-height: 24px;
        margin-left: 3px;
      }
      &--lg {
        font-family: $font-family-100;
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: url('@img/price/round-left.png') no-repeat center center / cover;
    width: 441px;
    height: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background: url('@img/price/round-right.png') no-repeat center center / cover;
    width: 630px;
    height: 809px;   
  }

  &__title {
    background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, rgba(255, 255, 255, 0.20) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 76px;
    line-height: 76px;
    margin-bottom: 0;

    span {
      color: #35BAEC;
      -webkit-text-fill-color: #35BAEC;
    }
  }
}