@font-face {
	font-family: BuyanThin;
	font-display: swap;
	src: url("../fonts/BuyanThin.woff2") format("woff2"), url("../fonts/BuyanThin.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: BuyanRegular;
	font-display: swap;
	src: url("../fonts/BuyanRegular.woff2") format("woff2"), url("../fonts/BuyanRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: BuyanBold;
	font-display: swap;
	src: url("../fonts/BuyanBold.woff2") format("woff2"), url("../fonts/BuyanBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
